*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 1440px;
}
.container button{
    cursor: pointer;
}
.container img{
    cursor: pointer;
}
.part_one{
    width: 1513px;
    height: 900px;
    background-color: rgba(0, 255, 255, 0.053);
}
.navbar{
    width: 1200px;
    height: 90px;
    margin-left: 155px;
    display: flex;
    align-items: center;
}
.navbar h1{
    color: rgb(16, 16, 60);
}
.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0px 260px;
}
.navbar li{
    margin: 0px 20px;
    cursor: pointer;
}
.navbar button{
    padding: 10px 30px;
    font-size: 12px;
    font-weight: bold;
    background-color: transparent;
    color: rgb(255, 107, 53);
    border: 2px solid rgb(255, 107, 53);
    transition: 0.2s;}
.navbar button:hover{
    background-color: rgb(255, 107, 53);
    color: white;
    border: none;
}
.part_two{
    width: 1358px;
    height: 800px;
    margin-left: 155px;
    display: flex;
    align-items: center;
}
.part_two .right_two{
    width: 50%;
    height: 100%;
}
.part_two .right_two h1{
    font-size: 50px;
    line-height: 60px;
    color: rgb(16, 16, 60);
    margin: 90px 0px;
}
.part_two .right_two img{
    width: 100%;
    height: 50%;
}
.part_two .left_two{
    width: 50%;
    height: 100%;
}
.part_two .left_two p{
    color: black;
    margin: 120px 40px;
}
.part_two .left_two img{
    width: 639px;
    height: 45%;
    margin-left: 40px;
}
.part_three h1{
    font-size: 45px;
    text-align: center;
    margin: 90px 0px;
}
.three_div1{
    width: 1150px;
    height: 270px;
    margin: auto;
    display: flex;
    align-items: center;
}
.three_div{
    width: 30%;
    height: 100%;
    margin: 0px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.three_div img{
    width: 50px;
    height: 50px;
    margin: 30px 20px;
}
.three_div1 .three_div h2{
    color: rgb(16, 16, 60);
    margin: 0px 20px;
}
.three_div1 .three_div p{
    line-height: 25px;
    margin: 30px 20px;
}